@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
  }
  body{
      background-color: #395580;
  }
  h1{
    font-family: 'Krona One', sans-serif;
    letter-spacing: 2px;
    color: white;
    font-size: 3em;
    
  }
  .obrigado_principal
  {
    width: 100px;
    height: 82vh;
    width: 50%;
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
  }
  a{
    background-color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    color: black;
  }